<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Libre 1. Poner Edad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <h1>Tu edad es: {{edadBase}}</h1>
  <h1>La edad permitida es de 18.</h1>

  <div *ngIf="edadBase>=18" style="background-color: green;">
    <h1>Es Mayor de edad. Puede pasar</h1>
  </div>
  <div *ngIf="edadBase<18" style="background-color: red;">
    <h1>Es Menor de edad. Pa la casa Culicagao</h1>
  </div>


  <ion-button size="small" (click)="subirEdad()">Mas 1</ion-button>
  <ion-button size="small" (click)="restarEdad()">Menos 1</ion-button>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
